<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='https://use.typekit.net/dxv1hat.css' />
    <title>Tu Reserva de Libros</title>
  </head>
  <body>
    <div style='background: #ffffff; padding: 50px; text-align: center;'>
      <h1
        style='font-family: acumin-pro,sans-serif; font-weight: 300; font-style: italic; color: #55585a; font-size: 35px; letter-spacing: -1px; margin: 0;'
      >{{username}}</h1>
      <p
        style='font-family: acumin-pro,sans-serif; font-weight: 300; color: #55585a; font-size: 18px; max-width: 500px; margin: 20px auto;'
      >¡Tu reserva ha sigo creada! Puedes pasar a recoger tus libros mostrando
        el siguiente código QR.</p>
    </div>
    <div style='background: #ffffff; padding: 20px; text-align: center;'>
      <img src='cid:qrCode' alt='qr code' style='width: 200px; height: auto;' />
    </div>
  </body>
</html>